.password-manager-container {
  margin-top: 50px;
}

.password-manager-form {
  display: flex;
  flex-direction: column;
}

.password-manager-input {
  margin-bottom: 10px;
}

.password-manager-checkbox {
  margin-bottom: 10px;
}

.password-manager-button {
  background-color: #2c6e49;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.3s;
}

.password-manager-button:hover {
  background-color: #31572c;
  transform: translateY(-2px);
}
